Q1. What are the characteristics of the tuples? Is tuple immutable?


     Characteristics of TUPLE- 
     1. Tuples are used to store single or multiple items in the single varible
     2. Tuple is collection of data, with different data type or with similar datatypes
     3. Tuples items are indexed, ordered.
     5. Yes Tuple is immutable (doesn't allow changes at oparticular index, won't able to update anything in the tuple at the indexes)

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

    Two Tuple methodas are as followiing:
    1. Index
    2. Count

Consider the below example:

In [2]:
t1=(1,5,"Hello",6.8,9,0)

In [15]:
t1.index(1) #giving the index of the data

0

In [5]:
t1.index("Hello")

2

In [6]:
t1.count(1) #count how many times the value 1 appered in tuple, returns count of the element in the tuple

1

In [7]:
t2=(4,8,5,"str",7,9,3,5,2,True,1,0,False)

In [8]:
t2.index(0)

11

In [10]:
t2.index(1) # giving 9 since True in the backend is saved as 1

9

In [13]:
t2.count(1) # giving output as 2, since Trues is also 1

2

In [12]:
t2.count(0)

2

In [14]:
t2.count(5)

2

Tuples have only two methods since they are immutable, and list can be can be modified, we can add, remove data from the list but same is not applicable for tuple

***********************************************************************************************************************

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

    Set is the Collection datatype in python which does not allow duplicate.
    Consider the following example fo rthe above situation:

In [22]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4] #list with duplicate values

In [23]:
set(List)

{1, 2, 3, 4}

Here you can that the duplicates from list are now removed using set

******************************************************************************************************************

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

    Difference between union and update method for set :
    1.Union-Return a set that contains all items from both sets,excluding duplicates 
    If an item is present in more than one set, the result will contain only one appearance of this item
    
    2.Update-This method updates the current set, by adding items from another set or any other iterable

In [24]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [26]:
s1={5,8,2,1,3}

In [33]:
s1.update(List)

In [35]:
s2={"Rashmmi", "learning","python"}

In [31]:
print(s1)

{1, 2, 3, 4, 5, 8}

In [32]:
s1.union(List)

{1, 2, 3, 4, 5, 8}

In [37]:
s1.update(List,s2)

In [38]:
print(s1)

{1, 2, 3, 4, 5, 8, 'learning', 'python', 'Rashmmi'}

In [40]:
s1.union(s2,List)

{1, 2, 3, 4, 5, 8, 'Rashmmi', 'learning', 'python'}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

    Dictionary is the collection which is used to store data in key value pair
    Key and its respective values,can be referred to by using the key name,Dictionary items are ordered, changeable, and does not allow duplicates.
    
    Keys must be always unique,if sam is created again it will update with new, key can be of any data type string, int, float,boolean,and from collection only tuple
    
    Values can be tuple, list,set,string,int,float,bool,dict

In [45]:
d1={ "name":"rashmi", "id":87382, "area":"Bangalore"}

In [46]:
d1

{'name': 'rashmi', 'id': 87382, 'area': 'Bangalore'}

Dictionary items are ordered

In [49]:
d2={"a":"hlo","a":"hi"}

In [50]:
d2

{'a': 'hi'}

In [51]:
d2["a"]

'hi'

In [53]:
d1["id"]

87382

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

     Yes we can create nested dictionary
Consider the following example

In [57]:
dic1={"batch_name":["DSM","WEB DEV","JDSA"], "time":[8,6,5], "mentors":{"krish","sudhanshu","hitesh","anurag","navin"},"new":{1:"A",2:"B"}}

In [58]:
dic1["new"]

{1: 'A', 2: 'B'}

In [62]:
type(dic1["mentors"])

set

In [63]:
type(dic1["new"])

dict

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learning’, 'Deep Learning']

    setdefault()=Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
    
    syntax if key does not exits= dictionary.setdefault(keyname, value)

In [64]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [67]:
dict1.setdefault("Topocs", ['Python','Machine Learning','Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [69]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topocs': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.

    The objects returned by dict.keys(), dict.values() and dict.items() are view objects. They provide a dynamic view on the dictionary’s entries, which means that when the dictionary changes, the view reflects these changes.

In [71]:
s1={"a":"Hi",1:209,"g":[1,5,6,7,8]}

In [73]:
s1.keys()

dict_keys(['a', 1, 'g'])

In [75]:
s1.values()

dict_values(['Hi', 209, [1, 5, 6, 7, 8]])

In [76]:
s1.items()

dict_items([('a', 'Hi'), (1, 209), ('g', [1, 5, 6, 7, 8])])

In [77]:
del s1['a']

In [78]:
s1.keys()

dict_keys([1, 'g'])

In [79]:
s1.values()

dict_values([209, [1, 5, 6, 7, 8]])

In [ ]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [86]:
dict2.keys

In [85]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [88]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [91]:
dict2.items()

dict_items([('Sport', 'Cricket')])